{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - Ajout Rattrapage{% endblock %}

 {% block javascripts %}  <script type="text/javascript"  src="../js/getEleveByClass.js"></script> 
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
 {% endblock %}

{% block content %}

 <div class="container-fluid">
 <div class="row justify-content-center">
 <h1 class="text-center text-primary p-4"> Ajouter un rattrapage</h1>
 </div>
 <div class="row justify-content-center">
 <div class="col-12 bg-white p-4 m-0 text-primary">
 {{ form_start(form) }}


{#  <div class="form-group">
 {{ form_label(form.PDF, "PDF (*) ", {'label_attr': {'class': 'font-weightbold'}}) }}
 {{ form_widget(form.PDF, {'attr': {'class': 'form-control'}}) }}
 </div> #}
 <div class="form-group">
 {{ form_label(form.Classe, "Classe concernée ", {'label_attr': {'class': 'font-weightbold'}}) }}
 {{ form_widget(form.Classe, {'attr': {'class': 'form-control'}}) }}
 </div>
<div class="form-group">
 {{ form_label(form.DateRattrapage, "Date du rattrapage (*) ", {'label_attr': {'class': 'font-weightbold'}}) }}
 {{ form_widget(form.DateRattrapage, {'attr': {'class': 'form-control'}}) }}
 </div>
 <div class="form-group">
 {{ form_label(form.DureeRattrapage, "Durée du rattrapage (*) ", {'label_attr': {'class': 'font-weightbold'}}) }}
 {{ form_widget(form.DureeRattrapage, {'attr': {'class': 'form-control'}}) }}
 </div>
  <div class="form-group">
 {{ form_label(form.Corrige, "Corrigé (*) ", {'label_attr': {'class': 'font-weightbold'}}) }}
 {{ form_widget(form.Corrige, {'attr': {'class': 'form-control'}}) }}
 </div>
   <div class="form-group">
 {{ form_label(form.SupportSonore, "Souhaitez vous ajouter un support sonore ? (*) ", {'label_attr': {'class': 'font-weightbold'}}) }}
 {{ form_widget(form.SupportSonore, {'attr': {'class': 'form-control'}}) }}
 </div>
{# <div class="form-group">
 {{ form_label(form.EtatRattrapage, "Etat du rattrapage (*) ", {'label_attr': {'class': 'font-weightbold'}}) }}
 {{ form_widget(form.EtatRattrapage, {'attr': {'class': 'form-control'}}) }}
 </div> #}
{#   <div class="form-group">
 {{ form_label(form.surveillant, "Surveillant (*) ", {'label_attr': {'class': 'font-weightbold'}}) }}
 {{ form_widget(form.surveillant, {'attr': {'class': 'form-control'}}) }}
 </div>
   <div class="form-group">
 {{ form_label(form.intervenant, "Intervenant (*) ", {'label_attr': {'class': 'font-weightbold'}}) }}
 {{ form_widget(form.intervenant, {'attr': {'class': 'form-control'}}) }}
 </div> #}
 <div class="form-group mx-auto text-center">
 {{ form_widget(form.ajouter, { 'label': "Ajouter", 'attr': {'class': 'btn font-weightbold bg-primary text-white mx-auto text-center'}}) }}
 </div>
 {{ form_end(form) }}
 </div>
 </div>
</div>
{% endblock %}